<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MPL | Login</title>
  </head>
  <body>
    <center>
      <h1>Admin Login</h1>
      <form class="" action="/" method="post">
        <input type="text" name="username" value="mplsiam">
        <input type="password" name="password" value="passman">
        <button type="submit" name="button">Log In</button>
      </form>
      </center>
  </body>
</html>
